/* Dark Mode */
body.dark-mode {
  background-color: #1c1c1c;
  color: #ddd;
}

body.dark-mode nav,
body.dark-mode footer {
  background: #111;
  color: #eee;
}

body.dark-mode .fish-card {
  background-color: #2a2a2a;
  border-color: #444;
}

body.dark-mode .selector select,
body.dark-mode .selector input,
body.dark-mode #cart-section input,
body.dark-mode #cart-section select {
  background-color: #333;
  color: #eee;
  border-color: #555;
}

body.dark-mode .selector button,
body.dark-mode #cart-section button,
body.dark-mode #payment-options button {
  background-color: #3498db;
}

body.dark-mode .selector button:hover,
body.dark-mode #cart-section button:hover,
body.dark-mode #payment-options button:hover {
  background-color: #2c80b4;
}